<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.f7.outsiderz.tecoutz">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddOffer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".accountSettings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".changePassword"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".changeEmail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".editProInfo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".editOffer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".OfferView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".ImagesView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".SendMessage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".MyMessages"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".Category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".SearchResult"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".MyOffers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".ViewUser"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".ViewMessage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".storeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity android:name=".BooksActivity" />
        <activity android:name=".SportsActivity" />
        <activity android:name=".InsrumentsActivity" />
        <activity android:name=".UniformActivity" />
        <activity android:name=".NotebookActivity" />
        <activity android:name=".FairActivity" />
        <activity android:name=".RoughActivity" />
        <activity android:name=".AssignActivity" />
        <activity android:name=".A4Activity" />
        <activity android:name=".PenActivity"></activity>
    </application>

</manifest>